body {
  font-family: sans-serif;
  font-weight: normal;
}


.delete-sale-h {
  display: none;
}

h1 {
  text-align: center;
  font-weight: normal;
  border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, #refresh {
  font: inherit;
  background-color: inherit;
  border: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 0, 0);
}

#add-button, #edit-button {
  background-color: #222;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.exceeded {
  background-color: red;
}

.invisible {
  display: none;
}

#add-button, #edit-button {
  background-color: black;
}

/* TABLE */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  font-weight: normal;
  text-align: center;
  font-size: 20px;
  padding: 1%;
}

tr:hover {
  filter: darken(75%);
  cursor: default;
}

td {
  padding: 12px;
}

table {
  width: 100%;
}

#submit-button-pwd-li {
  font: inherit;
  background-color: inherit;
  border: none;
  display: block;
  color: white;
  text-align: center;
  padding-top: 10px
}

.delete-sale {
  padding-right: 10px;
  padding-top: 10px;
}

#receipt { 
  padding-top: 20px;
}